:root {
  --heading-XL-fs:4.5rem;
  --heading-L-fs:3rem;
  --heading-M-fs:1.125rem;
  --heading-S-fs:1rem;
  --social-fs:3rem;
  --quote-fs:1.25rem;
  --body-fs:1.125rem;
  --footer-fs:0.9375rem;
  --bttn-fs:1rem;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.hero--heading {
  font-size: var(--heading-XL-fs);
  line-height: 1.0833333333em;
}

.hero--content {
  font-size: var(--body-fs);
  line-height: 1.7777777778em;
  letter-spacing: 0.0063rem;
}

.hero--primaryBttn {
  display: inline-block;
  font-size: var(--heading-M-fs);
  line-height: 2em;
  letter-spacing: -0.0112rem;
  border-radius: 0.375rem;
  padding: 0.9375rem 1.9375rem;
}

header .secondaryBttn {
  display: inline-block;
  background-color: #FAF8F6;
  font-size: var(--bttb-fs);
  line-height: 2em;
  letter-spacing: -0.01rem;
  border: 1px solid #172339;
  border-radius: 0.375rem;
  padding: 0.75rem 1.4375rem;
}

.hero--heading, .hero--content {
  font-weight: 400;
}

.hero--heading strong, .hero--primaryBttn, header .secondaryBttn {
  font-weight: 700;
}

header .secondaryBttn:hover, .hero--primaryBttn {
  color: #FAF8F6;
}

.hero--heading, header .secondaryBttn {
  color: #172339;
}

header .secondaryBttn:hover, .hero--primaryBttn {
  background-color: #172339;
}

.hero--content {
  color: #49566D;
}

@font-face {
  font-family: Epilogue;
  src: url(./../fonts/Epilogue-VariableFont_wght.ttf);
  src: url(./../fonts/Epilogue-VariableFont_wght.woff2);
  font-style: normal;
}
@font-face {
  font-family: HankenGrotesk;
  src: url(./../fonts/HankenGrotesk-VariableFont_wght.ttf);
  font-style: normal;
}
/* border-box */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html ::-moz-selection {
  background-color: #1683ff;
  color: #ffffff;
}
html ::selection {
  background-color: #1683ff;
  color: #ffffff;
}

body {
  font-family: Epilogue, sans-serif;
  background-color: #FAF8F6;
}

.container {
  max-width: 90rem;
  margin-inline: auto;
  padding: 3.125rem 10.375rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header img {
  width: 81px;
  height: 32px;
  -ms-flex-item-align: center;
      align-self: center;
}
header .secondaryBttn {
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
}
.hero {
  margin-top: 11.75rem;
  position: relative;
  isolation: isolate;
}
.hero--heading {
  max-width: 41rem;
  letter-spacing: -1px;
}
.hero--content {
  max-width: 21.875rem;
  margin: 2.5rem 0 4.1875rem 0;
}
.hero--primaryBttn:hover {
  background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
}
.hero--picture {
  position: absolute;
  width: 21.875rem;
  height: 37.5rem;
  background-image: url(./../img/image-hero-portrait.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: -103px;
  right: clamp(1px, 77% - 35rem, 17.7rem);
  z-index: -1;
}

footer {
  padding-block: 14.5rem;
  background-color: #F3EDE7;
}

@media only screen and (max-width: 1050px) {
  .container {
    padding: 2.5rem;
  }
  .hero--picture {
    right: clamp(1px, 79% - 40rem, 7rem);
  }
}
@media only screen and (max-width: 900px) {
  :root {
    --heading-XL-fs:3.5rem;
    --heading-L-fs:2.5rem;
    --heading-M-fs:1.125rem;
    --heading-S-fs:1rem;
    --social-fs:3rem;
    --quote-fs:1.125rem;
    --body-fs:1rem;
    --footer-fs:0.9375rem;
    --bttn-fs:1rem;
  }
  .hero--heading {
    max-width: 32rem;
    letter-spacing: -0.777778px;
  }
  .hero--picture {
    width: 17.5625rem;
    height: 30.125rem;
    right: 0;
  }
}
@media only screen and (max-width: 740px) {
  :root {
    --heading-XL-fs:2.375rem;
    --heading-L-fs:2.5rem;
    --heading-M-fs:1.125rem;
    --heading-S-fs:1rem;
    --social-fs:3rem;
    --quote-fs:1.125rem;
    --body-fs:1rem;
    --footer-fs:0.9375rem;
    --bttn-fs:14px;
  }
  .hero--picture {
    background-image: url(./../img/image-hero-landscape.png);
    width: 21.4375rem;
    height: 15rem;
    top: 400px;
    right: 50%;
    -webkit-transform: translateX(10.5rem);
            transform: translateX(10.5rem);
  }
}
/*# sourceMappingURL=home.css.map */
