@use 'var' as *;
@use 'mix' as *;

@font-face {
    font-family: Epilogue;
    src: url(./../fonts/Epilogue-VariableFont_wght.ttf);
    src: url(./../fonts/Epilogue-VariableFont_wght.woff2);
    font-style: normal;
}

// *:not(strong) {
//     outline: 1px solid black;
// }

/* border-box */
*,
*::before,
*::after {
    box-sizing: inherit;
}

// --- HTML settings: box sizing, selection
html {
    @include box-sizing (border-box);
    @include selection;
}

body {
    font-family: Epilogue, sans-serif;
    background-color: $clr12;
}


.container {
    @include container(90rem);
    padding-inline: clamp(40px, calc(20% - 10rem), 10.375rem);
    // outline: 1px solid red;
}

header {
    margin-top: 3.125rem;
    display: flex;
    justify-content: space-between;

    img {
        width: 81px;
        height: 29px;
        align-self: center
    }

    .secondaryBttn {
        @extend %bttnSecondary;
        transition: background-color ease-in-out .2s;

        &:hover {
            @extend %backClr13;
            @extend %clr12;
        }
    }
}

.hero {
    margin-top: 11.75rem;
    position: relative;
    isolation: isolate;
    display: flex;
    justify-content: space-between;

    &--heading {
        @extend %heading-XL;
        max-width: 41rem;
        letter-spacing: -1px;
        position: relative;
        isolation: isolate;

        &::after {
            position: absolute;
            content: '';
            width: 17.9375rem;
            height: 2.25rem;
            background-image: url(./../img/pattern-curved-line-1.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            top: -50px;
            right: 80px;
        }

        strong {
            @extend %weight-700;
        }
    }

    &--content {
        @extend %body;
        max-width: 21.875rem;
        margin: 2.5rem 0 4.1875rem 0;
    }

    &--primaryBttn {
        @extend %bttnPrimary;

        &:hover {
            background: $backroundGradient;
        }
    }

    &--picture {
        position: absolute;
        width: 350px;
        height: 600px;
        top: -103px;
        left: 475px;
        left: clamp(300px, calc(58% - 10rem), 475px);
        z-index: -1;
    }

    .right--list {
        margin-right: 70px;

        &--items {

            margin-bottom: 60px;

            h2 {
                @extend %social;
            }

            h3 {
                @extend %heading-S;
                @extend %clr14;
            }
        }
    }
}

.jeremy {
    display: flex;
    justify-content: space-between;
    align-items: center;



    height: 545px;
    border-radius: 15px;
    @extend %backClr13;

    position: relative;
    isolation: isolate;
    top: 272.5px;
    right: 0;
    left: 0;

    &::after {
        position: absolute;
        content: '';
        width: 64px;
        height: 52px;

        top: clamp(50px, calc(10vw), 155px);
        right: 47%;
        background-image: url(./../img/pattern-curved-line-2.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

    }

    .jeremy--picture {
        position: absolute;
        width: 375px;
        height: 600px;
        bottom: 0;
        left: clamp(1rem, calc(25% - 10rem), 112px);

    }

    &--content {
        flex-basis: 45%;
        padding-right: 5rem;

        h2 {
            @extend %heading-L;

        }

        p {
            @extend %quote;
            margin-block: 40px;
        }

        h3 {
            @extend %heading-M;
        }

        h4 {
            @extend %heading-S;
            @extend %clr11;
        }
    }

}


footer {
    background-color: $clr11 ;
    padding-top: 22.5rem;
    padding-bottom: 4.5rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    h5 {
        @extend %footer;
    }

    .footer--social {
        color: $clr13;
        transition: opacity ease-in-out .2s;
        margin-right: 1.75rem;

        &:last-child {
            margin: 0;
        }

        &:hover {
            opacity: .5;
        }
    }
}

@media only screen and (max-width: 1000px) {
    :root {
        --heading-XL-fs:#{$heading-XL-Mid};
        --heading-L-fs:#{$heading-L-Mid};
        --heading-M-fs:#{$heading-M-Mid};
        --heading-S-fs:#{$heading-S-Mid};
        --social-fs:#{$social-Mid};
        --quote-fs:#{$quote-Mid};
        --body-fs:#{$body-Mid};
        --footer-fs:#{$footer-Mid};
        --bttn-fs:#{$bttn-Mid};
    }

    .container {
        padding-inline: clamp(40px, calc(28% - 8rem), 10.375rem);
    }

    .hero {
        display: block;
        margin-top: 10.5rem;

        &--heading {
            max-width: 32rem;
            letter-spacing: -.777778px;

            &::after {
                width: 14.4375rem;
                height: 1.8125rem;
            }
        }

        &--content {
            margin-block: 2.5rem;
        }

        &--picture {
            width: 281px;
            height: 482px;
            top: -88px;
            left: 100%;
            transform: translateX(-281px);
        }

        .right {
            &--list {
                display: flex;
                justify-content: space-around;

                margin-top: 5rem;

                &--items {
                    margin: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 740px) {
    :root {
        --heading-XL-fs:#{$heading-XL-Min};
        --heading-L-fs:#{$heading-L-Min};
        --heading-M-fs:#{$heading-M-Min};
        --heading-S-fs:#{$heading-S-Min};
        --social-fs:#{$social-Min};
        --quote-fs:#{$quote-Min};
        --body-fs:#{$body-Min};
        --footer-fs:#{$footer-Min};
        --bttn-fs:#{$bttn-Min};
    }

    // .container {
    //     padding-inline: 5rem;
    // }

    header {
        margin-top: 1.5rem;
    }

    .hero {
        margin-top: 5.625rem;

        &--picture {
            position: static;
            display: block;
            width: 343px;
            height: auto;
            transform: none;
            margin: 3rem auto;
        }

        &--heading {
            max-width: 80%;
            letter-spacing: -0.0331rem;

            &::after {
                top: -2rem;
                right: 10%;
                width: 9.4375rem;
                height: 1.1875rem;
            }
        }

        .right .right--list {
            margin-top: 0;

        }
    }
}

@media only screen and (max-width: 550px) {

    .hero {
        margin-top: 80px;

        &--heading {
            max-width: 100%;
        }

        &--content {
            max-width: 100%;
            margin: 2rem 0;
        }
    }
}

@media only screen and (max-width: 480px) {
    // .container {
    //     padding-inline: 1rem;
    // }

    .hero {
        .right {
            &--list {
                display: block;
                text-align: center;

                &--items {
                    margin-bottom: 2rem;
                }
            }
        }
    }
}