@use 'var' as *;
@use 'mix' as *;

@font-face {
    font-family: Epilogue;
    src: url(./../fonts/Epilogue-VariableFont_wght.ttf);
    src: url(./../fonts/Epilogue-VariableFont_wght.woff2);
    font-style: normal;
}

@font-face {
    font-family: HankenGrotesk;
    src: url(./../fonts/HankenGrotesk-VariableFont_wght.ttf);
    font-style: normal;
}

// *:not(strong) {
//     outline: 1px solid black;
// }

/* border-box */
*,
*::before,
*::after {
    box-sizing: inherit;
}

// --- HTML settings: box sizing, selection
html {
    @include box-sizing (border-box);
    @include selection;
}


body {
    font-family: Epilogue, sans-serif;
    background-color: $clr12;
}


.container {
    @include container(90rem);
    padding: 3.125rem 10.375rem;
}

header {
    display: flex;
    justify-content: space-between;

    img {
        width: 81px;
        height: 29px;
        align-self: center
    }

    .secondaryBttn {
        @extend %bttnSecondary;
        transition: background-color ease-in-out .2s;

        &:hover {
            @extend %backClr13;
            @extend %clr12;
        }
    }
}

.hero {
    margin-top: 11.75rem;
    position: relative;
    isolation: isolate;

    &--heading {
        @extend %heading-XL;
        max-width: 41rem;
        letter-spacing: -1px;

        strong {
            @extend %weight-700;
        }
    }

    &--content {
        @extend %body;
        max-width: 21.875rem;
        margin: 2.5rem 0 4.1875rem 0;
    }

    &--primaryBttn {
        @extend %bttnPrimary;

        &:hover {
            background: $backroundGradient;
        }
    }

    &--picture {
        position: absolute;
        width: 21.875rem;
        height: 37.5rem;
        background-image: url(./../img/image-hero-portrait.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        top: -103px;
        right: clamp(1px, calc(77% - 35rem), 17.7rem);
        z-index: -1;
    }


}
















footer {
    padding-block: 14.5rem;
    background-color: $clr11 ;

}

@media only screen and (max-width: 1050px) {
    .container {
        padding: 2.5rem;
    }

    .hero {
        &--picture {
            right: clamp(1px, calc(79% - 40rem), 7rem);
        }
    }


}

@media only screen and (max-width: 900px) {
    :root {
        --heading-XL-fs:#{$heading-XL-Mid};
        --heading-L-fs:#{$heading-L-Mid};
        --heading-M-fs:#{$heading-M-Mid};
        --heading-S-fs:#{$heading-S-Mid};
        --social-fs:#{$social-Mid};
        --quote-fs:#{$quote-Mid};
        --body-fs:#{$body-Mid};
        --footer-fs:#{$footer-Mid};
        --bttn-fs:#{$bttn-Mid};
    }

    .hero {
        &--heading {
            max-width: 32rem;
            letter-spacing: -.777778px;
        }

        &--picture {
            width: 17.5625rem;
            height: 30.125rem;
            right: 0;
        }
    }
}

@media only screen and (max-width: 740px) {
    :root {
        --heading-XL-fs:#{$heading-XL-Min};
        --heading-L-fs:#{$heading-L-Min};
        --heading-M-fs:#{$heading-M-Min};
        --heading-S-fs:#{$heading-S-Min};
        --social-fs:#{$social-Min};
        --quote-fs:#{$quote-Min};
        --body-fs:#{$body-Min};
        --footer-fs:#{$footer-Min};
        --bttn-fs:#{$bttn-Min};
    }

    .container {
        padding: 1.5rem 1rem;
    }

    .hero {
        margin-top: 5.625rem;

        &--heading {
            max-width: 100%;
            letter-spacing: -0.0331rem;
        }

        &--picture {
            background-image: url(./../img/image-hero-landscape.png);
            width: 21.4375rem;
            height: 15rem;
            top: 390px;
            right: 50%;
            transform: translateX(10.5rem);
        }
    }
}