@use 'var' as *;
@use 'mix' as *;

@font-face {
    font-family: Epilogue;
    src: url(./../fonts/Epiloque-VariableFont_wght.ttf);
    src: url(./../fonts/Epiloque-VariableFont_wght.woff2);
    font-style: normal;
}

/* border-box */
*,
*::before,
*::after {
    box-sizing: inherit;
}

// --- HTML settings: box sizing, selection
html {
    @include box-sizing (border-box);
    @include selection;
}


body {
    font-family: Epiloque, sans-serif;
    // font-family: sans-serif;
}


h1 {
    font-weight: 900;
}

h2 {
    font-weight: 800;
}

h3 {
    font-weight: 700;
}

h4 {
    font-weight: 600;
}

p {
    font-weight: 400;
}

// @media only screen and (max-width: 500px) {}