@use 'var' as *;

:root {
    --heading-XL-fs:#{$heading-XL-Max};
    --heading-L-fs:#{$heading-L-Max};
    --heading-M-fs:#{$heading-M-Max};
    --heading-S-fs:#{$heading-S-Max};
    --social-fs:#{$social-Max};
    --quote-fs:#{$quote-Max};
    --body-fs:#{$body-Max};
    --footer-fs:#{$footer-Max};
    --bttn-fs:#{$bttn-Max};
}