// ---------------------
// Variables
// ---------------------

$debug: false;

// --- colors ---
$clr10: #ffffff;
$clr11: #F3EDE7;
$clr12: #FAF8F6;
$clr13: #172339;
$clr14: #49566D;
$clr15: #A060FF;
$clr16: #CB30E3;
$clr17: #FFA84E;


$backroundGradient: (
    linear-gradient(135deg, $clr15 0%, $clr16 49.21%, $clr17 100%)
);

// --- font-sizes ---

$heading-XL-Max: 4.5rem; //72px
$heading-XL-Mid: 3.5rem; //56px
$heading-XL-Min: 2.375rem; //38px

$heading-L-Max: 3rem; //48px
$heading-L-Mid: 2.5rem; //40px
$heading-L-Min: 2.5rem; //40px

$heading-M-Max: 1.125rem; //18px
$heading-M-Mid: 1.125rem; //18px
$heading-M-Min: 1.125rem; //18px

$social-Max: 3rem; //48px
$social-Mid: 3rem; //48px
$social-Min: 3rem; //48px

$heading-S-Max: 1rem; //16px
$heading-S-Mid: 1rem; //16px
$heading-S-Min: 1rem; //16px

$quote-Max: 1.25rem; //20px
$quote-Mid: 1.125rem; // 18px
$quote-Min: 1.125rem; // 18px

$body-Max: 1.125rem; //18px
$body-Mid: 1rem; //16px
$body-Min: 1rem; //16px

$footer-Max: .9375rem; //15px
$footer-Mid: .9375rem; //15px
$footer-Min: .9375rem; //15px

$bttn-Max: 1rem; //16px
$bttn-Mid: 1rem; //16px
$bttn-Min: 14px; //14px