// ---------------------
// Variables
// ---------------------

$debug: false;

// --- colors ---
$clr10: #ffffff;
$clr11: #F3EDE7;
$clr12: #FAF8F6;
$clr13: #172339;
$clr14: #49566D;
$clr15: #A060FF;
$clr16: #CB30E3;
$clr17: #FFA84E;


$backroundGradient: (
    98.96% 98.96% at 50% 0%,
    #232A34 0%,
    #181E27 100%
);
// --- break points ---


// --- font-sizes ---

$h1Max: 1.75rem; //28px
$h1Min: 1.5rem; //24px

$parMax: .9375rem; //15px
$parMin: .875rem; //14px

$btnMax: .9375rem; //15px
$btnMin: .875rem; //14px

$numMax: 1rem; //16px
$numMin: .875rem; //14px